.table-custom {
  font-size: 0.875rem;
  th,
  td {
    padding: 0.4rem 0.75rem !important;
    vertical-align: middle;
  }

  thead th {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  tr {
    line-height: 1.3;
  }

  &.dataTable {
    margin: 0.5rem 0 !important;

    thead > tr > th {
      padding: 0.5rem 0.75rem !important;
    }
  }
}
